%li{:class => "page#{' active disabled' if page.current?}"}
  -#= link_to_unless page.current?, page, url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil}
  - if page.current?
    = link_to page, '#'
  - else
    = link_to page, url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil}